<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Login">
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Your email</span>
        <input ng-model="user.username" type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Your password</span>
        <input ng-model="user.password" type="password">
      </label>
      <label class="item item-input">
        <span class="input-label">{{currentUser.username}} </span>
      </label>
      <ion-toggle>Have you rated the app?</ion-toggle>
      <button ng-click="logIn(user)" ng-hide="currentUser" class="button button-positive button-block">Login</button>
      <button ng-click="logOut(user)" ng-show="currentUser" class="button button-positive button-block">Logout</button>
    </div>
  </ion-content>
</ion-view>
