<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Device List {{currentUser ?currentUser.get('username'):'- Please login'}}">
  <ion-content has-header="true" has-tabs="true">

    <ion-list>

      <ion-item ng-repeat="pet in pets | orderBy:'name'" type="item-text-wrap" href="#/tab/pet/{{pet.objectId}}">
        <h3>{{pet.name}}</h3>
        <p>{{pet.battery*100|number:0}}% {{pet.live?'Online':'Offline'}}</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
